---
---

@import "{{ site.theme }}";

header {
  padding-top: 37px;
  padding-bottom: 10px;
}

header h1 {
  width: auto;
  font-size: 64px;
}

header h3 {
  display: inline;
  float: right;
  border: 2px solid #9ddcff;
  background-color: white;
  border-radius: 5px;
  color: #9ddcff;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

iframe {
  display: inline;
}