---
---

@import "{{ site.theme }}";

header {
  padding-top: 18px;
  padding-bottom: 10px;
}

header h1 {
  width: auto;
  font-size: 64px;
}

header h2 {
  display: inline-block;
}

header a h3 {
  display: inline-block;
  border: 2px solid #9ddcff;
  background-color: white;
  border-radius: 5px;
  color: #9ddcff;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

header a:active h3,
header a:hover h3 {
  background-color: #9ddcff;
  color: white;
  border: 2px solid white;
}

aside h2 {
  font-family: "Architects Daughter","Helvetica Neue",Helvetica,Arial,serif;
}

iframe {
  display: inline;
}